//css reset
// @import "./styles//example.scss";

// #main {
//   color: $color;
// }
@import "./styles//reset.scss";

// @import "./styles//game.scss";
// body {
//   margin: 0px;
//   padding: 0px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

h1 {
  font-size: 20px;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}
#snakeCanvas {
  box-shadow: black 20px 10px 50px;
  background: #000;
}
