//css reset
// @import "./styles//example.scss";

// #main {
//   color: $color;
// }
@import "./styles//reset.scss";

@font-face {
  font-family: myFont;
  src: url(/assets/fonts/lemondrops-font/LemondropspersonaluseBold-9Yn02.otf);
}

body {
  // margin: 0px;
  // padding: 0px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: goldenrod;
  font-family: "Courier New", Courier, monospace;
}

#main {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  // padding-top: 70px;
  // padding-bottom: 60px;
}

h1 {
  font-family: myFont;
  font-size: 60px;
  color: bl;
  position: relative;
  text-align: center;
  bottom: 25px;
  // text-shadow: 2px 2px 2px rgba(92, 0, 241, 0.5);
  // background: linear-gradient(70deg, green 55%, #ff006a 70%);
  // background-clip: inherit;
  // -webkit-background-clip: text;
  // color: transparent;
}

#snakeCanvas {
  box-shadow: black 20px 10px 50px;
  background: #000;
}

.modal {
  display: none;
  position: absolute;
  inset: 0;
  // padding: 20px;
  // top: 0px;
  // left: 0px;
  // width: 100%;
  // height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  // display: inline-block;
  text-align: center;
  // position: relative;
  background: lightcoral;
  right: 20px;
  border-radius: 10px;
  width: 600px;
  height: 300px;
}

#instruction {
  margin-top: 20px;
  font-size: 20px;
  // color: aliceblue;
}

#restart {
  margin-top: 20px;
  font-size: 20px;
}

#mute {
  // margin-top: 40px;
  position: relative;
  top: 120px;
  left: 350px;
}

#git,
#linkedin {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px;
}

// #linkedin{

// }
// Style for the Start Game button
#start-game--btn {
  margin-top: 25px;
  background-color: #76a378;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  // text-decoration: none;
}
#start-game--btn:hover {
  background-color: blueviolet;
  color: white;
}

#restart-btn {
  margin-top: 25px;
  background-color: #76a378;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#restart-btn:hover {
  background-color: blueviolet;
  color: white;
}
