//css reset
// @import "./styles//example.scss";

// #main {
//   color: $color;
// }
@import "./styles//reset.scss";

@font-face {
  font-family: myFont;
  src: url(../assets/lemondrops-font/LemondropspersonaluseBold-9Yn02.otf);
}

body {
  background-color: goldenrod;
  font-family: "Courier New", Courier, monospace;
}

#main {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

h1 {
  font-family: myFont;
  font-size: 60px;
  color: bl;
  position: relative;
  text-align: center;
  bottom: 25px;
  height: 40px;
}

#snakeCanvas {
  box-shadow: black 20px 10px 50px;
  background: #000;
}

.modal {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  text-align: center;
  background: lightcoral;
  right: 20px;
  border-radius: 10px;
  width: 600px;
  height: 300px;
}

#instruction {
  margin-top: 20px;
  font-size: 20px;
}

#restart {
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
}

h2 {
  font-size: 60px;
  font-family: myFont;
}
#sound-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mute {
  // top: 120px;
  margin: 10px;
  display: flex;
  right: 200px;
  z-index: 1;
}

#git,
#linkedin {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px;
}

// Style for the Start Game button
#start-game--btn {
  margin-top: 25px;
  background-color: #76a378;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
#start-game--btn:hover {
  background-color: blueviolet;
  color: white;
}

#restart-btn {
  margin-top: 25px;
  background-color: #76a378;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

#restart-btn:hover {
  background-color: blueviolet;
  color: white;
}

#high-score-display {
  padding: 20px;
}
